In [1]:
import pandas as pd

data = pd.read_csv('real_estate.csv')
data = data.drop(['No'], axis=1)

X = data[['X1 transaction date','X2 house age','X3 distance to the nearest MRT station',
          'X4 number of convenience stores','X5 latitude','X6 longitude']]
y = data['Y house price of unit area']

data['X1 transaction date'] = data['X1 transaction date'].astype(int)
data.describe()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,2012.695652,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,0.460687,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,2012.000000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,2012.000000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,2013.000000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,2013.000000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,2013.000000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Chuẩn hóa dữ liệu
scaler = StandardScaler()
X = scaler.fit_transform(X)
# Train&Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.154, random_state=42)

# MLP Regression

In [3]:
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

# MLP Regression model
mlp = MLPRegressor(solver='adam', hidden_layer_sizes=(64, 32),
                        activation= 'relu', max_iter=3000, random_state=42)
mlp.fit(X_train, y_train)

# Prediction
y_pred = mlp.predict(X_test)

#Sum of Squared Errors 
sse = np.sum((y_test - y_pred)**2)
print('Sum of Squared Errors of MLP Regression: ', sse)

# Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error of MLP Regression:", mse)
# R-Square
r2 = r2_score(y_test, y_pred)
print("R2-Score of MLP regression:", r2)

Sum of Squared Errors of MLP Regression:  3967.0062826578087
Mean Squared Error of MLP Regression: 61.98447316652826
R2-Score of MLP regression: 0.6599624619846385

# Linear Regression

In [4]:
from sklearn.linear_model import LinearRegression

# Linear Regression model
lr = LinearRegression()
lr.fit(X_train, y_train)

# Prediction
y_pred = lr.predict(X_test)

#Sum of Squared Errors 
sse = np.sum((y_test - y_pred)**2)
print('Sum of Squared Errors of LR Regression: ', sse)

# Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error of LR Regression:", mse)
# R-Square
r2 = r2_score(y_test, y_pred)
print("R2-Score of LR Regression:", r2)

Sum of Squared Errors of LR Regression:  3802.082404388755
Mean Squared Error of LR Regression: 59.4075375685743
R2-Score of LR Regression: 0.6740991447954812